RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} off
RewriteRule ^(.\*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# URL réecriture

#index.php
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php$ / [R=301,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?$ index.php [L]

RewriteRule ^include/?$ /index.php [R=301,L]

# login.php
RewriteCond %{THE_REQUEST} \s/connexion/login\.php [NC]
RewriteRule ^connexion/login\.php$ /connexion/login [R=301,L,QSA]
RewriteRule ^connexion/login/?$ connexion/login.php [L]

# connexion/
RewriteCond %{THE_REQUEST} \s/connexion[\s/] [NC]
RewriteRule ^connexion/?$ /connexion/login [R=301,L,QSA]
RewriteRule ^connexion/login/?$ connexion/login.php [L]

# inscription.php
RewriteCond %{THE_REQUEST} \s/connexion/inscription\.php [NC]
RewriteRule ^connexion/inscription\.php$ /connexion/inscription [R=301,L,QSA]
RewriteRule ^connexion/inscription/?$ connexion/inscription.php [L]

# forgot_mdp.php
RewriteCond %{THE_REQUEST} \s/connexion/forgot_mdp\.php [NC]
RewriteRule ^connexion/forgot_mdp\.php$ /connexion/forgot_password [R=301,L,QSA]
RewriteRule ^connexion/forgot_password/?$ connexion/forgot_mdp.php [L]

# resend_verify_inscrire.php
RewriteCond %{THE_REQUEST} \s/connexion/resend_verify_inscrire\.php [NC]
RewriteRule ^connexion/resend_verify_inscrire\.php$ /connexion/verify_email [R=301,L,QSA]
RewriteRule ^connexion/verify_email/?$ connexion/resend_verify_inscrire.php [L]

# reset_mdp_err.php
RewriteCond %{THE_REQUEST} \s/connexion/reset_mdp_err\.php [NC]
RewriteRule ^connexion/reset_mdp_err\.php$ /connexion/reset_password_error [R=301,L,QSA]
RewriteRule ^connexion/reset_password_error/?$ connexion/reset_mdp_err.php [L]

# reset_mdp.php
RewriteCond %{THE_REQUEST} \s/connexion/reset_mdp\.php [NC]
RewriteRule ^connexion/reset_mdp\.php$ /connexion/reset_password [R=301,L,QSA]
RewriteRule ^connexion/reset_password/?$ connexion/reset_mdp.php [L]

# session_timeout.php
RewriteCond %{THE_REQUEST} \s/connexion/session_timeout\.php [NC]
RewriteRule ^connexion/session_timeout\.php$ /connexion/session_timeout [R=301,L,QSA]
RewriteRule ^connexion/session_timeout/?$ connexion/session_timeout.php [L]

# status_verify.php
RewriteCond %{THE_REQUEST} \s/connexion/status_verify\.php [NC]
RewriteRule ^connexion/status_verify\.php$ /connexion/status_verify [R=301,L,QSA]
RewriteRule ^connexion/status_verify/?$ connexion/status_verify.php [L]

# add_credits.php
RewriteCond %{THE_REQUEST} \s/credits/add_credits\.php [NC]
RewriteRule ^credits/add_credits\.php$ /credits/add [R=301,L,QSA]
RewriteRule ^credits/add/?$ credits/add_credits.php [L]

# cancel.php
RewriteCond %{THE_REQUEST} \s/credits/cancel\.php [NC]
RewriteRule ^credits/cancel\.php$ /credits/cancel [R=301,L,QSA]
RewriteRule ^credits/cancel/?$ credits/cancel.php [L]

# credits_main.php
RewriteCond %{THE_REQUEST} \s/credits/credits_main\.php [NC]
RewriteRule ^credits/credits_main\.php$ /credits [R=301,L,QSA]
RewriteRule ^credits/?$ credits/credits_main.php [L]

# success.php
RewriteCond %{THE_REQUEST} \s/credits/success\.php [NC]
RewriteRule ^credits/success\.php$ /credits/paiement [R=301,L,QSA]
RewriteRule ^credits/paiement/?$ credits/success.php [L]

# magasin_main.php

RewriteCond %{THE_REQUEST} \s/magasin/magasin_main\.php [NC]
RewriteRule ^magasin/magasin_main\.php$ /magasin [R=301,L]
RewriteRule ^magasin/?$ magasin/magasin_main.php [L]

# game_info.php (magasin)

RewriteCond %{THE_REQUEST} \s/magasin/game_info\.php [NC]
RewriteRule ^magasin/game_info\.php$ /magasin/game [R=301,L]
RewriteRule ^magasin/game/?$ magasin/game_info.php [L]

# magasin_category.php (magasin)

RewriteCond %{THE_REQUEST} \s/magasin/magasin_category\.php [NC]
RewriteRule ^magasin/magasin_category\.php$ /magasin/category [R=301,L]
RewriteRule ^magasin/category/?$ magasin/magasin_category.php [L]

# tournois_main.php

RewriteCond %{THE_REQUEST} \s/tournois/tournois_main\.php [NC]
RewriteRule ^tournois/tournois_main\.php$ /tournois [R=301,L]
RewriteRule ^tournois/?$ tournois/tournois_main.php [L]

# tournois_category.php

RewriteCond %{THE_REQUEST} \s/tournois/tournois_category\.php [NC]
RewriteRule ^tournois/tournois_category\.php$ /tournois/category [R=301,L]
RewriteRule ^tournois/category/?$ tournois/tournois_category.php [L]

# tournois_details.php
RewriteCond %{THE_REQUEST} \s/tournois/tournois_details\.php [NC]
RewriteRule ^tournois/tournois_details\.php$ /tournois/details [R=301,L,QSA]
RewriteRule ^tournois/details/?$ tournois/tournois_details.php [L]

# tournois_jeux.php
RewriteCond %{THE_REQUEST} \s/tournois/tournois_jeux\.php [NC]
RewriteRule ^tournois/tournois_jeux\.php$ /tournois/jeux [R=301,L,QSA]
RewriteRule ^tournois/jeux/?$ tournois/tournois_jeux.php [L]

# team/
RewriteCond %{THE_REQUEST} \s/team[\s/] [NC]
RewriteRule ^team/?$ /team/list [R=301,L,QSA]
RewriteRule ^team/list/?$ team/team_list.php [L]

# create_team.php
RewriteCond %{THE_REQUEST} \s/team/create_team\.php [NC]
RewriteRule ^team/create_team\.php$ /team/create [R=301,L,QSA]
RewriteRule ^team/create/?$ team/create_team.php [L]

# team_details.php
RewriteCond %{THE_REQUEST} \s/team/team_details\.php [NC]
RewriteRule ^team/team_details\.php$ /team/details [R=301,L,QSA]
RewriteRule ^team/details/?$ team/team_details.php [L]

# team_list.php
RewriteCond %{THE_REQUEST} \s/team/team_list\.php [NC]
RewriteRule ^team/team_list\.php$ /team/list [R=301,L,QSA]
RewriteRule ^team/list/?$ team/team_list.php [L]

# communaute_main.php

RewriteCond %{THE_REQUEST} \s/communaute/communaute_main\.php [NC]
RewriteRule ^communaute/communaute_main\.php$ /communaute [R=301,L]
RewriteRule ^communaute/?$ communaute/communaute_main.php [L]

# actualite_main.php

RewriteCond %{THE_REQUEST} \s/actualite/actualite_main\.php [NC]
RewriteRule ^actualite/actualite_main\.php$ /actualite [R=301,L]
RewriteRule ^actualite/?$ actualite/actualite_main.php [L]

# actualite_article.php

RewriteCond %{THE_REQUEST} \s/actualite/actualite_article\.php [NC]
RewriteRule ^actualite/actualite_article\.php$ /actualite/article [R=301,L,QSA]
RewriteRule ^actualite/article/?$ actualite/actualite_article.php [L]

# actualite_categorie.php

RewriteCond %{THE_REQUEST} \s/actualite/actualite_categorie\.php [NC]
RewriteRule ^actualite/actualite_categorie\.php$ /actualite/categorie [R=301,L,QSA]
RewriteRule ^actualite/categorie/?$ actualite/actualite_categorie.php [L]

# forum_main.php

RewriteCond %{THE_REQUEST} \s/forum/forum_main\.php [NC]
RewriteRule ^forum/forum_main\.php$ /forum [R=301,L]
RewriteRule ^forum/?$ forum/forum_main.php [L]

# categorie.php (forum)

RewriteCond %{THE_REQUEST} \s/forum/categorie\.php [NC]
RewriteRule ^forum/categorie\.php$ /forum/category [R=301,L,QSA]
RewriteRule ^forum/category/?$ forum/categorie.php [L]

# nouveau_sujet.php (forum)

RewriteCond %{THE_REQUEST} \s/forum/nouveau_sujet\.php [NC]
RewriteRule ^forum/nouveau_sujet\.php$ /forum/new [R=301,L,QSA]
RewriteRule ^forum/new/?$ forum/nouveau_sujet.php [L]

# sujet.php (forum)

RewriteCond %{THE_REQUEST} \s/forum/sujet\.php [NC]
RewriteRule ^forum/sujet\.php$ /forum/sujet [R=301,L,QSA]
RewriteRule ^forum/sujet/?$ forum/sujet.php [L]

# panier_main.php 

RewriteCond %{THE_REQUEST} \s/panier/panier_main\.php [NC]
RewriteRule ^panier/panier_main\.php$ /panier [R=301,L,QSA]
RewriteRule ^panier/?$ panier/panier_main.php [L]

# confirmation_achat.php (panier)

RewriteCond %{THE_REQUEST} \s/panier/confirmation_achat\.php [NC]
RewriteRule ^panier/confirmation_achat\.php$ /panier/confirmation_achat [R=301,L,QSA]
RewriteRule ^panier/confirmation_achat/?$ panier/confirmation_achat.php [L]

# my_account.php (profil)

RewriteCond %{THE_REQUEST} \s/profil/my_account\.php [NC]
RewriteRule ^profil/my_account\.php$ /mon_compte [R=301,L,QSA]
RewriteRule ^mon_compte/?$ profil/my_account.php [L]

# edit_account.php (profil)

RewriteCond %{THE_REQUEST} \s/profil/edit_account\.php [NC]
RewriteRule ^profil/edit_account\.php$ /mon_compte/edit [R=301,L,QSA]
RewriteRule ^mon_compte/edit/?$ profil/edit_account.php [L]

# friend_list.php (profil)

RewriteCond %{THE_REQUEST} \s/profil/friends_list\.php [NC]
RewriteRule ^profil/friends_list\.php$ /mon_compte/friend_list [R=301,L,QSA]
RewriteRule ^mon_compte/friend_list/?$ profil/friends_list.php [L]

# my_teams.php (profil)

RewriteCond %{THE_REQUEST} \s/profil/my_teams\.php [NC]
RewriteRule ^profil/my_teams\.php$ /mon_compte/teams [R=301,L,QSA]
RewriteRule ^mon_compte/teams/?$ profil/my_teams.php [L]

# order_history.php (profil)

RewriteCond %{THE_REQUEST} \s/profil/order_history\.php [NC]
RewriteRule ^profil/order_history\.php$ /mon_compte/order_history [R=301,L,QSA]
RewriteRule ^mon_compte/order_history/?$ profil/order_history.php [L]

# profil.php (profil)

RewriteCond %{THE_REQUEST} \s/profil/profil\.php [NC]
RewriteRule ^profil/profil\.php$ /profil [R=301,L,QSA]
RewriteRule ^profil/?$ profil/profil.php [L]

# tournament_list.php (profil)

RewriteCond %{THE_REQUEST} \s/profil/tournament_list\.php [NC]
RewriteRule ^profil/tournament_list\.php$ /mon_compte/tournament_list [R=301,L,QSA]
RewriteRule ^mon_compte/tournament_list/?$ profil/tournament_list.php [L]

# conversation.php (messages)

RewriteCond %{THE_REQUEST} \s/messages/conversation\.php [NC]
RewriteRule ^messages/conversation\.php$ /messages/conversation [R=301,L,QSA]
RewriteRule ^messages/conversation/?$ messages/conversation.php [L]

# messagerie.php (messages)

RewriteCond %{THE_REQUEST} \s/messages/messagerie\.php [NC]
RewriteRule ^messages/messagerie\.php$ /messages [R=301,L,QSA]
RewriteRule ^messages/?$ messages/messagerie.php [L]

# nouvelle_conversation.php (messages)

RewriteCond %{THE_REQUEST} \s/messages/nouvelle_conversation\.php [NC]
RewriteRule ^messages/nouvelle_conversation\.php$ /messages/new [R=301,L,QSA]
RewriteRule ^messages/new/?$ messages/nouvelle_conversation.php [L]

# search.php 

RewriteCond %{THE_REQUEST} \s/include/search\.php [NC]
RewriteRule ^include/search\.php$ /include/search [R=301,L,QSA]
RewriteRule ^include/search/?$ include/search.php [L]


# paris_main.php (paris)

RewriteCond %{THE_REQUEST} \s/paris/paris_main\.php [NC]
RewriteRule ^paris/paris_main\.php$ /paris [R=301,L,QSA]
RewriteRule ^paris/?$ paris/paris_main.php [L]

# parier.php (paris)

RewriteCond %{THE_REQUEST} \s/paris/parier\.php [NC]
RewriteRule ^paris/parier\.php$ /paris/parier [R=301,L,QSA]
RewriteRule ^paris/parier/?$ paris/parier.php [L]

# mes_paris.php (paris)
RewriteCond %{THE_REQUEST} \s/paris/mes_paris\.php [NC]
RewriteRule ^paris/mes_paris\.php$ /paris/mes_paris [R=301,L,QSA]
RewriteRule ^paris/mes_paris/?$ paris/mes_paris.php [L]

# easter.php 

RewriteCond %{THE_REQUEST} \s/error_pages/easter\.php [NC]
RewriteRule ^error_pages/easter\.php$ /easter [R=301,L,QSA]
RewriteRule ^easter/?$ error_pages/easter.php [L]

# unsubscribe.php (newsletter)

RewriteCond %{THE_REQUEST} \s/newsletter/unsubscribe\.php [NC]
RewriteRule ^newsletter/easter\.php$ /unsubscribe [R=301,L,QSA]
RewriteRule ^unsubscribe/?$ newsletter/unsubscribe.php [L]














# back-office index.php

RewriteCond %{THE_REQUEST} \s/back-office/index\.php [NC]
RewriteRule ^back-office/index\.php$ /back-office/ [R=301,L]
RewriteRule ^back-office/?$ back-office/index.php [L]

# back-office articles.php/

RewriteCond %{THE_REQUEST} \s/back-office/article/articles\.php [NC]
RewriteRule ^back-office/article/articles\.php$ /back-office/article [R=301,L,QSA]
RewriteRule ^back-office/article/?$ back-office/article/articles.php [L]

# back-office articles.php/

RewriteCond %{THE_REQUEST} \s/back-office/article/article_edit\.php [NC]
RewriteRule ^back-office/article/article_edit\.php$ /back-office/article/edit [R=301,L,QSA]
RewriteRule ^back-office/article/edit/?$ back-office/article/article_edit.php [L]

# back-office captcha.php/

RewriteCond %{THE_REQUEST} \s/back-office/captcha/captcha\.php [NC]
RewriteRule ^back-office/captcha/captcha\.php$ /back-office/captcha [R=301,L,QSA]
RewriteRule ^back-office/captcha/?$ back-office/captcha/captcha.php [L]

# back-office captcha_edit.php/

RewriteCond %{THE_REQUEST} \s/back-office/captcha/captcha_edit\.php [NC]
RewriteRule ^back-office/captcha/captcha_edit\.php$ /back-office/captcha/edit [R=301,L,QSA]
RewriteRule ^back-office/captcha/edit/?$ back-office/captcha/captcha_edit.php [L]

# back-office communication.php/

RewriteCond %{THE_REQUEST} \s/back-office/communication/communication\.php [NC]
RewriteRule ^back-office/communication/communication\.php$ /back-office/communication [R=301,L,QSA]
RewriteRule ^back-office/communication/?$ back-office/communication/communication.php [L]

# back-office evenements.php/

RewriteCond %{THE_REQUEST} \s/back-office/event/evenements\.php [NC]
RewriteRule ^back-office/event/evenements\.php$ /back-office/event [R=301,L,QSA]
RewriteRule ^back-office/event/?$ back-office/event/evenements.php [L]

# back-office forum.php/

RewriteCond %{THE_REQUEST} \s/back-office/forum/forum\.php [NC]
RewriteRule ^back-office/forum/forum\.php$ /back-office/forum [R=301,L,QSA]
RewriteRule ^back-office/forum/?$ back-office/forum/forum.php [L]

# back-office annonce_main.php/ (forum)

RewriteCond %{THE_REQUEST} \s/back-office/forum/annonce/annonce_main\.php [NC]
RewriteRule ^back-office/forum/annonce/annonce_main\.php$ /back-office/forum/annonce [R=301,L,QSA]
RewriteRule ^back-office/forum/annonce/?$ back-office/forum/annonce/annonce_main.php [L]

# back-office discussion_main.php/ (forum)

RewriteCond %{THE_REQUEST} \s/back-office/forum/discussion/discussion_main\.php [NC]
RewriteRule ^back-office/forum/discussion/discussion_main\.php$ /back-office/forum/discussion [R=301,L,QSA]
RewriteRule ^back-office/forum/discussion/?$ back-office/forum/discussion/discussion_main.php [L]

# back-office support_main.php/ (forum)

RewriteCond %{THE_REQUEST} \s/back-office/forum/support/support_main\.php [NC]
RewriteRule ^back-office/forum/support/support_main\.php$ /back-office/forum/support [R=301,L,QSA]
RewriteRule ^back-office/forum/support/?$ back-office/forum/support/support_main.php [L]

# back-office edit.php/ (forum support)

RewriteCond %{THE_REQUEST} \s/back-office/forum/support/edit\.php [NC]
RewriteRule ^back-office/forum/support/edit\.php$ /back-office/forum/support/edit [R=301,L,QSA]
RewriteRule ^back-office/forum/support/edit/?$ back-office/forum/support/edit.php [L]

# back-office edit.php/ (forum discussion)

RewriteCond %{THE_REQUEST} \s/back-office/forum/discussion/edit\.php [NC]
RewriteRule ^back-office/forum/discussion/edit\.php$ /back-office/forum/discussion/edit [R=301,L,QSA]
RewriteRule ^back-office/forum/discussion/edit/?$ back-office/forum/discussion/edit.php [L]

# back-office edit.php/ (forum annonce)

RewriteCond %{THE_REQUEST} \s/back-office/forum/annonce/edit\.php [NC]
RewriteRule ^back-office/forum/annonce/edit\.php$ /back-office/forum/annonce/edit [R=301,L,QSA]
RewriteRule ^back-office/forum/annonce/edit/?$ back-office/forum/annonce/edit.php [L]

# back-office jeux.php/

RewriteCond %{THE_REQUEST} \s/back-office/jeux/jeux\.php [NC]
RewriteRule ^back-office/jeux/jeux\.php$ /back-office/jeux [R=301,L,QSA]
RewriteRule ^back-office/jeux/?$ back-office/jeux/jeux.php [L]

# back-office modify_game.php/

RewriteCond %{THE_REQUEST} \s/back-office/jeux/modify_game\.php [NC]
RewriteRule ^back-office/jeux/modify_game\.php$ /back-office/jeux/edit [R=301,L,QSA]
RewriteRule ^back-office/jeux/edit/?$ back-office/jeux/modify_game.php [L]

# back-office add_game.php/

RewriteCond %{THE_REQUEST} \s/back-office/jeux/add_game\.php [NC]
RewriteRule ^back-office/jeux/add_game\.php$ /back-office/jeux/add [R=301,L,QSA]
RewriteRule ^back-office/jeux/add/?$ back-office/jeux/add_game.php [L]

# back-office paris.php/

RewriteCond %{THE_REQUEST} \s/back-office/paris/paris\.php [NC]
RewriteRule ^back-office/paris/paris\.php$ /back-office/paris [R=301,L,QSA]
RewriteRule ^back-office/paris/?$ back-office/paris/paris.php [L]

# back-office profils.php/

RewriteCond %{THE_REQUEST} \s/back-office/profils/profils\.php [NC]
RewriteRule ^back-office/profils/profils\.php$ /back-office/profils [R=301,L,QSA]
RewriteRule ^back-office/profils/?$ back-office/profils/profils.php [L]

# back-office edit_user.php/

RewriteCond %{THE_REQUEST} \s/back-office/profils/edit_user\.php [NC]
RewriteRule ^back-office/profils/edit_user\.php$ /back-office/profils/edit [R=301,L,QSA]
RewriteRule ^back-office/profils/edit/?$ back-office/profils/edit_user.php [L]

# back-office tournois_main.php/

RewriteCond %{THE_REQUEST} \s/back-office/tournois/tournois_main\.php [NC]
RewriteRule ^back-office/tournois/tournois_main\.php$ /back-office/tournois [R=301,L,QSA]
RewriteRule ^back-office/tournois/?$ back-office/tournois/tournois_main.php [L]

# back-office add_tournoi.php/

RewriteCond %{THE_REQUEST} \s/back-office/tournois/add_tournoi\.php [NC]
RewriteRule ^back-office/tournois/add_tournoi\.php$ /back-office/tournois/add [R=301,L,QSA]
RewriteRule ^back-office/tournois/add/?$ back-office/tournois/add_tournoi.php [L]

# back-office modify_tournoi.php/

RewriteCond %{THE_REQUEST} \s/back-office/tournois/modify_tournoi\.php [NC]
RewriteRule ^back-office/tournois/modify_tournoi\.php$ /back-office/tournois/edit [R=301,L,QSA]
RewriteRule ^back-office/tournois/edit/?$ back-office/tournois/modify_tournoi.php [L]

# back-office tournoi_result.php/

RewriteCond %{THE_REQUEST} \s/back-office/tournois/tournoi_result\.php [NC]
RewriteRule ^back-office/tournois/tournoi_result\.php$ /back-office/tournois/result [R=301,L,QSA]
RewriteRule ^back-office/tournois/result/?$ back-office/tournois/tournoi_result.php [L]

# back-office stats_main.php/

RewriteCond %{THE_REQUEST} \s/back-office/stats/stats_main\.php [NC]
RewriteRule ^back-office/stats/stats_main\.php$ /back-office/stats [R=301,L,QSA]
RewriteRule ^back-office/stats/?$ back-office/stats/stats_main.php [L]

# back-office stats/log_display/inscription.php/

RewriteCond %{THE_REQUEST} \s/back-office/stats/log_display/inscription\.php [NC]
RewriteRule ^back-office/stats/log_display/inscription\.php$ /back-office/stats/log/inscription [R=301,L,QSA]
RewriteRule ^back-office/stats/log/inscription/?$ back-office/stats/log_display/inscription.php [L]

# back-office stats/log_display/login.php/

RewriteCond %{THE_REQUEST} \s/back-office/stats/log_display/login\.php [NC]
RewriteRule ^back-office/stats/log_display/login\.php$ /back-office/stats/log/login [R=301,L,QSA]
RewriteRule ^back-office/stats/log/login/?$ back-office/stats/log_display/login.php [L]

# back-office stats/log_display/transaction.php/

RewriteCond %{THE_REQUEST} \s/back-office/stats/log_display/transaction\.php [NC]
RewriteRule ^back-office/stats/log_display/transaction\.php$ /back-office/stats/log/transaction [R=301,L,QSA]
RewriteRule ^back-office/stats/log/transaction/?$ back-office/stats/log_display/transaction.php [L]

# back-office stats/log_display/

RewriteCond %{THE_REQUEST} \s/back-office/stats/log_display[\s/] [NC]
RewriteRule ^back-office/stats/log_display/?$ /back-office/stats [R=301,L,QSA]
RewriteRule ^back-office/stats/?$ back-office/stats/stats_main.php [L]

# back-office stats/log_display/newsletter.php/

RewriteCond %{THE_REQUEST} \s/back-office/stats/duree_visite\.php [NC]
RewriteRule ^back-office/stats/duree_visite\.php$ /back-office/stats/duree [R=301,L,QSA]
RewriteRule ^back-office/stats/duree/?$ back-office/stats/duree_visite.php [L]

# back-office newsletter.php/

RewriteCond %{THE_REQUEST} \s/back-office/newsletter/newsletter\.php [NC]
RewriteRule ^back-office/newsletter/newsletter\.php$ /back-office/newsletter [R=301,L,QSA]
RewriteRule ^back-office/newsletter/?$ back-office/newsletter/newsletter.php [L]


# Pages d'erreur

ErrorDocument 404 /error_pages/404.php
ErrorDocument 500 /error_pages/500.php
ErrorDocument 400 /error_pages/400.php
ErrorDocument 403 /error_pages/403.php
ErrorDocument 408 /error_pages/408.php
ErrorDocument 503 /error_pages/503.php

# Bloquer acces aux fichiers config et env

<FilesMatch "\.(env|ini|sql|bak|inc|log|conf)$">
    Require all denied
</FilesMatch>

<FilesMatch "(^\.|wp-config|phpinfo|debug|test|xmlrpc)">
    Require all denied
</FilesMatch>


# Security Headers

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set X-XSS-Protection "1; mode=block"
</IfModule>
