RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} off
RewriteRule ^(.\*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# URL réecriture

#index.php
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php$ / [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?$ index.php [L]

# magasin_main.php

RewriteCond %{THE_REQUEST} \s/magasin/magasin_main\.php [NC]
RewriteRule ^magasin/magasin_main\.php$ /magasin/ [R=301,L]
RewriteRule ^magasin/?$ magasin/magasin_main.php [L]

# tournois_main.php

RewriteCond %{THE_REQUEST} \s/tournois/tournois_main\.php [NC]
RewriteRule ^tournois/tournois_main\.php$ /tournois/ [R=301,L]
RewriteRule ^tournois/?$ tournois/tournois_main.php [L]

# communaute_main.php

RewriteCond %{THE_REQUEST} \s/communaute/communaute_main\.php [NC]
RewriteRule ^communaute/communaute_main\.php$ /communaute/ [R=301,L]
RewriteRule ^communaute/?$ communaute/communaute_main.php [L]

# actualite_main.php

RewriteCond %{THE_REQUEST} \s/actualite/actualite_main\.php [NC]
RewriteRule ^actualite/actualite_main\.php$ /actualite/ [R=301,L]
RewriteRule ^actualite/?$ actualite/actualite_main.php [L]

# forum_main.php

RewriteCond %{THE_REQUEST} \s/forum/forum_main\.php [NC]
RewriteRule ^forum/forum_main\.php$ /forum/ [R=301,L]
RewriteRule ^forum/?$ forum/forum_main.php [L]

# back-office index.php

RewriteCond %{THE_REQUEST} \s/back-office/index\.php [NC]
RewriteRule ^back-office/index\.php$ /back-office/ [R=301,L]
RewriteRule ^back-office/?$ back-office/index.php [L]

# Pages d'erreur

ErrorDocument 404 /error_pages/404.php
ErrorDocument 403 /error_pages/500.php

# Bloquer acces aux fichiers config et env

<FilesMatch "\.(env|ini|log|sh|sql|bak)$">
Order allow,deny
Deny from all
</FilesMatch>

# Security Headers

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set X-XSS-Protection "1; mode=block"
</IfModule>
