* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  width: 100%;
}
main {
  flex-grow: 1;
}
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh !important;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f5f0e1;
}
.montserrat-titre40,
h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.875rem;
}
.montserrat-titre32 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}
.lato24 {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
}

.lato16 {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
}

.connexion_box {
  background-color: #ffc13b;
  border-radius: 2rem;
}
.dark .connexion_box {
  background-color: #2f608e !important;
}

.line-with-letters {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
}

.line {
  flex-grow: 1;
  border-top: 0.09375rem solid black;
  margin: 0 0.46875rem;
}

#globalSearchForm input:focus,
#globalSearchForm select:focus,
#globalSearchForm_mobile input:focus,
#globalSearchForm_mobile select:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px #ff6e40 !important;
  border-color: #ff6e40 !important;
}
.btn-warning:hover {
  transform: scale(1.01);
  background-color: #fcbd02;
}
.btn-primary {
  background-color: #2f608e;
  border-color: #1e3d59 !important;
}
.btn-primary:hover {
  background-color: #1e3d59 !important;
  transform: scale(1.01);
}
.btn-secondary {
  background-color: #2f608e;
  border-color: #1e3d59 !important;
}
.btn-secondary:hover {
  background-color: #1e3d59 !important;
  transform: scale(1.01);
}
.dark .btn-success {
  background-color: #333;
  border-color: black;
}
.dark .btn-success:hover {
  background-color: #3f3f3f;
  border-color: black;
}
.btn-success {
  background-color: #333;
  border-color: black;
}
.btn-success:active {
  background-color: #333 !important;
  border-color: black;
}
.btn-success:hover {
  background-color: #3f3f3f;
  border-color: black;
}

.btn-outline-dark:hover {
  background-color: #1e3d59;
  color: white;
  transform: scale(1.1);
}
.nav-link:hover {
  color: #1e3d59 !important;
  transform: scale(1.1);
}
.nav-link:active {
  color: #1e3d59 !important;
}

.input_field:hover {
  background-color: #f5f0e1;
}
.m-f {
  padding: 0.9375rem;
}

.facebook_login {
  background-color: #1877f2;
  border-color: #3e80bd !important;
}
.facebook_login:hover {
  background-color: #1f57c9 !important;
  transform: scale(1.01);
}
.apple_login {
  background-color: black;
  border-color: #3e80bd !important;
}
.apple_login:hover {
  background-color: #3f3f3f !important;
  transform: scale(1.01);
}
.google_login {
  background-color: #f8f8ff;
  border-color: #3e80bd !important;
}
.google_login:hover {
  background-color: rgb(240, 240, 240) !important;
  transform: scale(1.01);
}

#creer_compte {
  color: #2f608e;
  font-weight: 700;
  text-decoration: none;
}
#creer_compte:hover {
  color: #3e80bd;
}
.dark #creer_compte {
  color: #ff6e40;
}
.dark #creer_compte:hover {
  color: #fdae95;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-item {
  color: black;
  background-color: f5f0e1;
}
.dropdown-item:hover {
  background-color: #1e3d59;
  color: #f5f0e1;
}
.f-inscription:hover {
  background-color: #d0ccbf;
}
#captcha {
  font-weight: bolder;
  border-color: #1e1e1e;
}
.c-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 75vh;
  margin-top: 0;
}

.carousel {
  width: 100vw;
  height: 75vh;
  max-width: none;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  overflow: hidden;
}

.carousel-item,
.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s ease-in-out;
}

.carousel-caption {
  color: #d0ccbf;
  font-weight: bolder;
}

.tournament_title {
  text-align: left;
  margin-left: 7%;
  text-decoration-line: underline, #1e3d59;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.234375rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #1e3d59;
}
.tournament_title:hover {
  color: #2f608e;
}
.dark .tournament_title:hover {
  color: #d0ccbf;
}

.title_selling_item_index {
  text-align: left;
  margin-left: 10%;
  text-decoration: underline;
  padding-bottom: 1rem;
}
.sell_card_index {
  border-radius: 2rem;
}
.sell_card_index .card {
  flex: 1;
}
.my_card {
  width: 100%;
  height: auto;
  padding: 1.40625rem;
  margin-top: 0.9375rem;
  background-color: #f5f0e1;
  gap: 0.75rem;
  border: 0.234375rem solid black;
}
#bande_sepe {
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  height: 2.34375rem;
  background-color: #f5f0e1;
}

.img_trn {
  object-fit: cover;
  margin-right: 0.703125rem;
  width: 5.625rem;
  height: 5.625rem;
  object-fit: contain;
}
.b_l {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 2.34375rem;
  padding-top: 2.34375rem;
  border-radius: 2rem;
  border: 0.46875rem solid black;
  background-color: #ffe2a1;
}
.card {
  margin: 0.46875rem;
}

.img_sell_index {
  object-fit: contain;
  height: 150px;
  width: 100%;
}

.nav_profil {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.under_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.under_nav .nav-link {
  padding: 15px 25px;
  margin: 0 15px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.section-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.message_box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.dark .message_box {
  background-color: #2f608e !important;
}

.dark body {
  background-color: #121212;
  color: #f1f1f1;
}
.header-chat {
  padding: 20px;
  background-color: #ffc13b !important;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.header-chat img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.message-list {
  height: 400px;
  overflow-y: auto;
  background: #f9f9f9;
}
.message {
  display: flex;
}
.message.sent {
  justify-content: flex-end;
}
.message.sent .message-bubble {
  background-color: #ffc13b !important;
  color: white;
}
.dark .message.sent .message-bubble {
  background-color: #2f608e !important;
}
.message.received .message-bubble {
  background-color: #e5e5ea;
  color: #333;
}
.message-bubble {
  max-width: 70%;
  border-radius: 20px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.5;
}
.message-time {
  font-size: 12px;
  color: #888;
  text-align: right;
}
.message-input-container {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.message-input-container textarea {
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  resize: none;
}
.send-button {
  background-color: #ffc13b;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}
.send-button:hover {
  background-color: #fdae95;
}
.desinscrire-btn,
.participer-btn {
  transition: all 0.3s ease-in-out;
}
.desinscrire-btn:hover,
.participer-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.desinscrire-btn:disabled,
.participer-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.dark {
  background-color: #1e1e1e;
  color: #f5f5f5;
}
.dark .montserrat-titre40,
.dark .montserrat-titre32,
.dark .lato24,
.dark .lato16 {
  color: #ffffff;
}
#upper_header,
#single_header {
  background-color: #ff6e40 !important;
}
#lower_header {
  background-color: rgb(249, 123, 85) !important;
}
.dark #upper_header,
.dark #single_header {
  background-color: #1e3d59 !important;
}
.dark #lower_header {
  background-color: #214564 !important;
}

.dark .nav-link {
  color: #f5f5f5 !important;
}
.dark .nav-link:hover {
  color: #ff6e40 !important;
}
.dark .btn-primary {
  background-color: #ff6e40;
  border-color: #ff3b20 !important;
}
.dark .btn-primary:hover {
  background-color: #ff3b20 !important;
}
.dark .my_card {
  background-color: #2f2f2f;
  color: #ffffff;
  border: 0.234375rem solid #1e3d59;
}
.dark .dropdown-item {
  background-color: #333;
  color: #f5f5f5 !important;
}
.dark .dropdown-item:hover {
  background-color: #2f608e;
  color: #f5f0e1;
}
.dark #bande_noire {
  background-color: #adaaa0;
}

.dark .input_field {
  background-color: #2f2f2f;
  color: #ffffff;
  border: 0.046875rem solid #2f608e;
}
.dark .input_field::placeholder {
  color: #f5f0e1;
}
.dark .input_field:hover {
  background-color: #3f3f3f;
}
.dark .carousel-container {
  background-color: #1e1e1e;
}
.dark .carousel-caption {
  color: #ffffff;
}
.dark .b_l {
  background-color: #333;
  border-color: #1e3d59;
  color: #f5f5f5;
}
* {
  transition: background-color 0.1s, color 0.1s;
}
.dark .btn-outline-dark {
  color: #f5f0e1;
  border-color: #f5f0e1;
}
.dark .btn-outline-dark:hover {
  background-color: #f5f0e1;
  color: #1e3d59;
}
.dark #mdp_help {
  color: #f5f0e1;
}
.dark footer {
  background-color: #1e3d59 !important;
}
footer {
  background-color: #ff6e40 !important;
}
body.offcanvas-backdrop {
  overflow: auto !important;
}

.offcanvas-backdrop {
  pointer-events: none !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.offcanvas {
  background-color: #fc6f44;
}
.dark .offcanvas {
  background-color: #1e3d59;
}
#query:hover,
#query_mobile:hover,
#category:hover,
#category_mobile:hover {
  background-color: #f5f0e1;
}
